<div *ngIf="data">
<div class="container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">

            <table class="table table-striped" [mfData]="data | dataFilter : query:'country'" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                    <th colspan="5">
                        Filter by Country:
                        <div class="input-field col s12">
                        <input class="form-control" placeholder="Search by country" [(ngModel)]="query" (keyup)=filter()/>
                        </div>
                        <div class="suggestions" *ngIf="filteredList.length > 0">
                            <ul *ngFor="let item of filteredList; let i = index" >
                                <li *ngIf="i < 6">
                                    <a (click)="select(item)">{{item}}</a>
                                </li>
                            </ul>
                        </div>  

                    </th>
                </tr>
                </thead>
                <tbody>
                    <app-host-item *ngFor="let host of mf.data; let i = index" [host]="host" [hostId]="host.$key"></app-host-item>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</div>