		<div class="host">
			<div class="photo col-md-2">
				<img src="{{host.featuredImage}}">
			</div>
			<div class="info col-md-10">
				<div class="info-top">
					<div class="title">
						<a [routerLink]=[hostId]><h3>{{host.title | capitalizeFirstLetter}}</h3></a>
					</div>
					<div class="location">
						<small>{{host.city}}, {{host.country | uppercase}}</small>
					</div>
				</div>
				<div class="info-bottom">
					<div class="accommodation col-md-3">
						<p>{{host.accommodation}}</p>
					</div>
					<div class="date col-md-4">
						<p>{{host.createdAt | date:MMMM/y}}</p>
					</div>
					<div class="contact col-md-5">
					  <button type="button" class="btn btn-success">Contact</button>
					</div>
				</div>
			</div>
		</div>