

.host {
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    height: 139px;
}

.host:hover {
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #3498db;
    overflow: hidden;
}

.accommodation {
    padding-left: 15px;
}

.accommodation p {
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.location {
    margin-top: -7px;
}

.host .photo {
    display: block;
    padding: 0;
}

.info-top {
    height: 100px;
    margin-top: -10px;
    padding-left: 11px;
}

.info-bottom {
    margin-left: 2px;
    background-color: #ecf0f1;
    margin-top: -8px;
    height: 40px;
}

.info {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    padding: 0;
    width: 620px;
    margin-left: 101px;
}

.host img {
    border-radius: 3px;
    width: 171%;
    border-radius: 3px 0 0 3px;
    
}


.contact {
    padding: 0;
}

.contact button {
    height: 40px;
    float: right;
    border-radius: 0;
    margin-right: -2px;
}

.title h3 {
    margin: 10px 0;
    font-family: Source Sans Pro;
    font-weight: 300;
    font-size: 22px;
    margin-top: 16px;
}

.date {
    padding: 0;
    height: 40px;
}

.date p {
    margin: 0;
    height: 40px;
}