<footer class="footer">
<div class="container">
  <div class="row">
    <div class="col-xs-6">
        <ul class="nav navbar-nav navbar-left navbar-footer">
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Android App</a></li>
          <li><a href="#">iOS App</a></li>
        </ul>
    </div>

    <div class="col-xs-6">
      <div>
        <ul class="social">
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

  </div>
    <div id="copyright" class="col-xs-12">
      Copyright &copy; 2016 by Diego Feitoza &amp;  Weydson Marinho. All rights reserved.
    </div>
</div>
</footer>