<nav class="navbar navbar-inverse navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <!-- <a class="navbar-brand" href="#jumbotron"><img src="img/top_logo.png" alt="One Million Lines" title="One Million Lines"/> </a> --><a class="navbar-brand" [routerLink]="['/']"><Strong>Lorem</Strong> <span>Ipsum</span></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li routerLinkActive="active"><a [routerLink]="['hostsprotected']"><i class="fa fa-search-plus"></i> Hosts Protected</a></li>
        <li routerLinkActive="active"><a [routerLink]="['hosts']"><i class="fa fa-search" aria-hidden="true"></i>
<span> Host List</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" *ngIf="!isAuth()"><a [routerLink]="['signup']">Sign Up</a></li>
        <li routerLinkActive="active" *ngIf="!isAuth()"><a [routerLink]="['signin']">Sign In</a></li>
        <li class="dropdown" *ngIf="isAuth()">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i> User<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['profile']">Profile</a></li>
            <li><a (click)="onLogout()" style="cursor: pointer;"><i class="fa fa-sign-out" aria-hidden="true"></i>
<span>Logout</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div><!-- /.container -->
</nav>
