<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="jumbotron" class="jumbotron">
<div class="container">
  <h1>Lorem Ipsum</h1>
  <p>Lorem ipsum dolor sit amet, discere blandit ius et. Eam ferri delicata vulputate id, at per legendos convenire.</p>
  <button type="button" class="btn btn-lg btn-default btn-know-more" [routerLink]="['../hosts']">Check out our hosts!</button>
  
  </div>

</div>


<section id="explore">
<div class="container section-reset">
  <h2>Explore</h2>
  <hr/>
  <p>Se voluntarie e troque experiências. Integre e ajude comunidades, descubra novas culturas e viva experiências incríveis.</p>
</div>
</section>

<section id="showcase">
<div class="container">
  <div class="row">
    <div class="col-xs-3">
                <figure class="explore-photo">
                    <img src="../../../app/resources/img/1.jpg" alt="Seja a mudança que quer ver no mundo">
                </figure>
    </div>
    <div class="col-xs-3">
                <figure class="explore-photo">
                    <img src="../../../app/resources/img/2.jpg">
                </figure>
    </div>
    <div class="col-xs-3">
                <figure class="explore-photo">
                    <img src="../../../app/resources/img/3.jpg" alt="">
                </figure>
    </div>
    <div class="col-xs-3">
                <figure class="explore-photo">
                    <img src="../../../app/resources/img/4.jpeg" alt="Ajude na preservação da vida selvagem">
                </figure>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-3">
                <figure class="explore-photo">
                    <img src="../../../app/resources/img/5.jpg" alt="Mostre sua música ao mundo">
                </figure>
    </div>
    <div class="col-xs-3">
                <figure class="explore-photo">
                    <img src="../../../app/resources/img/6.jpg" alt="Transforme a cidade num local mais bonito">
                </figure>
    </div>
    <div class="col-xs-3">
                <figure class="explore-photo">
                    <img src="../../../app/resources/img/7.jpg" alt="Caia na estrada">
                </figure>
    </div>
    <div class="col-xs-3">
                <figure class="explore-photo">
                    <img src="../../../app/resources/img/8.jpg" alt="Espalhe a palavra. A viagem está chegando!">
                </figure>
    </div>
  </div>
</div>
</section>


<section id="how-it-works">
<div class="container section-reset how-it-works">
  <h2>Como funciona</h2>
  <hr/>
  
  

  <div class="row">
    <div class="col-md-4">
        <i class="fa fa-plane fa-inverse"></i>
      <h3>Lorem Ipsum</h3>
      <hr/>
      <p>Lorem ipsum dolor sit amet, ei nullam posidonium sadipscing vim, agam munere blandit his ne. Legere legendos cum te, eos veri prima ea.</p>
    </div>
    
    <div class="col-md-4">
        <i class="fa fa-bed fa-inverse"></i>
      <h3>Lorem Ipsum</h3>
      <hr/>
      <p>Lorem ipsum dolor sit amet, ei nullam posidonium sadipscing vim, agam munere blandit his ne. Legere legendos cum te, eos veri prima ea.</p>
    </div>
    
    <div class="col-md-4">
        <i class="fa fa-users fa-inverse"></i>
      <h3>Lorem Ipsum</h3>
      <hr/>
      <p>Lorem ipsum dolor sit amet, ei nullam posidonium sadipscing vim, agam munere blandit his ne. Legere legendos cum te, eos veri prima ea.</p>
    </div>
  </div>
</div>
<!-- /container -->
</section>
