<div class="normalizenavbar"></div>
    <div *ngIf="users">





<div *ngFor="let user of users">

          <div>
      	<div class="search-res well">
      	<img src="{{user.profilePicture}}" style="height: 100px;">
	        <h4>{{user.firstName}}</h4>
	        <div>
	          <strong>Country</strong>
	          <span>{{user.lastName}}</span>
	        </div>
	        <div>
	          <strong>City</strong>
	          <span>{{user.email}}</span>
	        </div>

	        <div>
	          <button class="btn btn-default">More</button>
	          <button class="btn btn-alert">Edit</button>
	        </div>
		</div>

      </div>
    </div>

</div>