<div class="normalizenavbar"></div>

<div class="container">
  <div class="col-xs-10">
    <div *ngIf="host">

		<!-- EDIT FORM -->
		<div *ngIf="appState == 'edit' || host.isActive == false" class="row">
			<div class="col-xs-12" [@flyInOut]="'in'"> 
		  		<h3>Edit Host</h3>
			  	<form [formGroup]="complexForm" (submit)="updateHost()">
				    <div class="row">
				      	<div class="col-xs-6">
							<div class="row">
					          <div class="col-xs-12">
					            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['title'].valid && complexForm.controls['title'].touched}">
						            <label for="title">Title</label>
						            <input
						                type="text"
						                id="title"
						                class="form-control"
						                formControlName="title">
	    							<div *ngIf="complexForm.controls['title'].hasError('required') && complexForm.controls['title'].touched" class="alert alert-danger">You must include a Title.</div>
					            </div>
					          </div>
					        </div>


					        <div class="row">
					          <div class="col-xs-12">
					            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['featuredImage'].valid && complexForm.controls['featuredImage'].touched}">
					              <label for="featuredImage">Featured Image (Link)</label>
					              <input
					                type="text"
					                id="featuredImage"
					                class="form-control"
					                formControlName="featuredImage"
					                #image>
	    							<div *ngIf="complexForm.controls['featuredImage'].hasError('required') && complexForm.controls['featuredImage'].touched" class="alert alert-danger">Add a featured Image</div>
					            </div>
					          </div>
					        </div>  

					        <div class="row">
					          <div class="col-xs-12">
					            <div class="img">
					              <img [src]="image.value" style="height: 100px;">
					            </div>
					          </div>
					        </div>

					        <div class="row">
					          <div class="col-xs-12">
					            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['country'].valid && complexForm.controls['country'].touched}">
					              <label for="country">Country</label>
					              <input
					                type="text"
					                id="country"
					                class="form-control"
					                formControlName="country">
	    							<div *ngIf="complexForm.controls['country'].hasError('required') && complexForm.controls['country'].touched" class="alert alert-danger">You must include the country your place is from.</div>
					            </div>
					          </div>
					        </div>

					        <div class="row">
					          <div class="col-xs-6">
					            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['city'].valid && complexForm.controls['city'].touched}">
					              <label for="city">City</label>
					              <input
					                type="text"
					                id="city"
					                class="form-control"
					                formControlName="city">
	    							<div *ngIf="complexForm.controls['city'].hasError('required') && complexForm.controls['city'].touched" class="alert alert-danger">You must include the city your place is from.</div>
					            </div>
					          </div>
					          <div class="col-xs-6">
					            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['state'].valid && complexForm.controls['state'].touched}">
					              <label for="state">State</label>
					              <input
					                type="text"
					                id="state"
					                class="form-control"
					                formControlName="state">
	    							<div *ngIf="complexForm.controls['state'].hasError('required') && complexForm.controls['state'].touched" class="alert alert-danger">You must include the state your place is from.</div>
					            </div>
					          </div>
					        </div>

					        <div class="row" style="border: solid 2px red">
					          <div class="col-xs-12">
					            <div class="form-group">
					              <label for="language">Let your guests know which language you can communicate with:</label>
					                <div class="checkbox">
					                  <label>
					                    <input type="checkbox" name="english" #r [checked]=false (change)="checkbox(r.value, r.checked)">English
					                  </label>
					                  <label>
					                    <input type="checkbox" name="portuguese">Portuguese
					                  </label>
					                  <label>
					                    <input type="checkbox" name="german">German
					                  </label>
					                </div>
					            </div>
					          </div>
					        </div>
					        
					      <section>
					        <h1>The Meats</h1>
					        <ul formGroupName="meats">
					          <li>
					            <input id="meatHam" type="checkbox" formControlName="meatHam">
					            <label for="meatHam">Ham</label>
					          </li>
					          <li>
					            <input id="meatTurkey" type="checkbox" ngControl="meatTurkey">
					            <label for="meatTurkey">Turkey</label>
					          </li>
					          <li>
					            <input id="meatRoastBeef" type="checkbox" ngControl="meatRoastBeef">
					            <label for="meatRoastBeef">Roast Beef</label>
					          </li>
					        </ul>
					      </section>

					        <h2>More details about you:</h2>

					        <div class="row">
					          <div class="col-xs-12">
					            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['placeDescription'].valid && complexForm.controls['placeDescription'].touched}">
					              <label for="placeDescription">Tell about yourself and your title</label>
					              <textarea
					                type="text"
					                id="placeDescription"
					                rows="3"
					                class="form-control"
					                formControlName="placeDescription"></textarea>
	    							<div *ngIf="complexForm.controls['placeDescription'].hasError('required') && complexForm.controls['placeDescription'].touched" class="alert alert-danger">You must include a description abour your place.</div>
	    							<div *ngIf="complexForm.controls['placeDescription'].hasError('minlength') && complexForm.controls['placeDescription'].touched" class="alert alert-danger">Your description must be at least 150 characters long.</div>
					            </div>
					          </div>
					        </div>

					        <div class="row">
					          <div class="col-xs-12">
					            <div class="form-group">
					              <label for="benefits">Benefits (How will the travelers benefit from coming to your place?)</label>
					              <textarea
					                type="text"
					                id="benefits"
					                rows="3"
					                class="form-control"
					                formControlName="benefits"></textarea>
					            </div>
					          </div>
					        </div>

					        <div class="row">
					          <div class="col-xs-12">
					            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['accommodation'].valid && complexForm.controls['accommodation'].touched}">
					              <label for="name">Accomodation</label>
					                <select name="accommodation" id="accommodation" class="form-control" formControlName="accommodation" required>
					                  <option value="">-</option>
					                  <option value="Shared Dorm">Shared Dorm</option>
					                  <option value="Private Dorm">Private Dorm</option>
					                  <option value="Staff Dorm">Staff Dorm</option>
					                </select>
	    							<div *ngIf="complexForm.controls['accommodation'].hasError('required') && complexForm.controls['accommodation'].touched" class="alert alert-danger">Select one type of Accomodation.</div>
					            </div>
					          </div>
					        </div>

					      <div class="row">
					        <div class="col-xs-12">
					          <ul class="list-group" formArrayName="images">
					            <div
					              class="row"
					              *ngFor="let image of complexForm.controls['images'].controls; let i = index">
					              <div formGroupName="{{i}}">
					              	<div class="images">
						                <div class="col-sm-5">
						                  <input
						                    type="text"
						                    class="form-control"
						                    formControlName="title">
						                  <input
						                    type="text"
						                    class="form-control"
						                    formControlName="url"
						                    #url>
						                </div>
						                <div class="col-sm-5">
						                  <img src="{{url.value}}" style="height: 100px;">
						                </div>
						                <div class="col-sm-2">
						                  <button class="btn btn-danger" (click)="onRemoveImage(i)">X</button>
						                </div>
					                </div>
					              </div>
					            </div>
					          </ul>
					        </div>
					      </div>

							<div class="row">
							  <div class="col-xs-12">
							    <div class="form-group row">
							      <div class="col-md-5"><input type="text" class="form-control" placeholder="Image Title" #imageTitle></div>
							      <div class="col-md-5"><input type="text" class="form-control" placeholder="Image Url" #imageUrl></div>
							      <div class="col-md-2">
							        <button
							          type="button"
							          class="btn btn-primary"
							          (click)="onAddImage(imageTitle.value, imageUrl.value)">+</button>
							      </div>
							    </div>
							  </div>
							</div>


					        <hr>
					        <h2>About Volunteers:</h2>


					        <div class="row">
					          <div class="col-xs-12">
					            <div class="form-group">
					              <label for="skillsNeeded">What skills are you looking for?</label>
					              <input
					                type="text"
					                id="skillsNeeded"
					                class="form-control"
					                formControlName="skillsNeeded">
					            </div>
					            <button class="btn btn-default">Add Skill</button>
					          </div>
					        </div>

					        <div class="row">
					          <div class="col-xs-12">
					            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['expectedFromVolunteers'].valid && complexForm.controls['expectedFromVolunteers'].touched}">
					              <label for="expectedFromVolunteers">Provide details about what is expected from the volunteers</label>
					              <textarea
					                type="text"
					                id="expectedFromVolunteers"
					                rows="6"
					                class="form-control"
					                formControlName="expectedFromVolunteers"></textarea>
	    							<div *ngIf="complexForm.controls['expectedFromVolunteers'].hasError('required') && complexForm.controls['expectedFromVolunteers'].touched" class="alert alert-danger">Select one type of Accomodation.</div>
	    							<div *ngIf="complexForm.controls['placeDescription'].hasError('minlength') && complexForm.controls['placeDescription'].touched" class="alert alert-danger">Your description must be at least 150 characters long.</div>
					            </div>
					          </div>
					        </div>

					        <div class="row">
					          <div class="col-xs-12">
					            <div class="img">
					              <img>
					            </div>
					          </div>
					        </div>



					      	</div>
					    </div>

			        <input type="submit" class="btn btn-primary" value="Submit" [disabled]="!complexForm.valid">
			        <input type="submit" class="btn btn-primary" value="Submit">

			  	</form>
			</div>        	
			<button class="btn btn-alert btn-profile" (click)="changeState('default', null)">Go Back</button>
		</div>

      <div>
      	<div *ngIf="appState == 'default' && host.isActive == true" class="search-res well">
      	<img src="{{host.featuredImage}}" style="height: 100px;">
	        <h4>{{host.title}}</h4>
	        <div>
	          <strong>Country</strong>
	          <span>{{host.country}}</span>
	        </div>
	        <div>
	          <strong>City</strong>
	          <span>{{host.city}}</span>
	        </div>
	        <div>
	          <strong>State</strong>
	          <span>{{host.state}}</span>
	        </div>
	        <div *ngIf="host.images">
	          <strong>Images</strong>
	          <span>{{host?.images}}</span>
	        </div>
	        <div>
	          <button class="btn btn-default">More</button>
	          <button class="btn btn-alert" (click)="showEdit(host)">Edit</button>
	        </div>
		</div>

      </div>
    </div>
</div>